@font-face {
  font-family: Teko-Regular;
  src: url('/fonts/teko/Teko-Regular.ttf')
}

@font-face {
  font-family: Teko-Medium;
  src: url('/fonts/teko/Teko-Medium.ttf')
}

:root {
  --color-gray: #333333;
  --color-gray-dark: #222222;
  --color-gray-light: #cccccc;
  --color-ongoing: #98c1d9;
  --color-done: ##ee64cd;
}

* {
  font-family: Teko-Regular, Helvetica;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

main {
  cursor: url('/images/cursor-sm.png') 10 7, auto;
  color: rgb(109, 117, 208);
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 999;
}

.chat input[type=text] {
  width: 10vw;
}

form input {
  width: 90%;
}

.calendar input {
  width: 75px;
  background-color: white;
}

.calendar option {
  background-color: white;
}

.nav-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.settings {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
}

.user-icon {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 105px;
  width: 24px;
}

.notis-icon {
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 60px;
  width: 28px;
}

.descarga-icon {
  cursor: pointer;
  height: 24px;
}

.perfil-admin {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
}

.notis {
  display: flex;
  position: absolute;
  max-height: 140px;
  overflow-y: scroll;
  top: 50px;
  right: 65px;
  flex-direction: column;
  padding: 5px;
  background-color: var(--chakra-colors-gray-400);
  font-weight: 600;
  font-size: 1.25rem;
  gap: 5px;
  z-index: 999;
}

.notis>a {
  padding: 5px;
}

.notis>a:hover {
  background-color: var(--chakra-colors-gray-500)
}

.nav-title {
  cursor: pointer;
  font-size: 28px;
  width: 30vw;
  min-width: 200px;
}

#chatMessagesWindow {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  height: 410px;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 10px;
  padding: 0px 20px;
}

#chatMessagesTicket {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  padding: 20px;
}

.ticket-star {
  width: 24px;
  position: absolute;
  top: -9px;
  right: -9px;
}

.ticket-new {
  width: 24px;
  position: absolute;
  top: 15px;
  right: -20px;
  cursor: pointer;
}

.loader {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader-small {
  height: 10vh;
  width: 10vw;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader-sm {
  height: 50vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader-ticket {
  height: 57.8vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

.edit-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 180px;
  width: 20px;
}

.edit-text {
  font-size: 1.45rem;
  border-radius: 4px;
  height: 30px;
  width: 50% !important;
  margin-left: 0 !important;
  padding-left: 8px;
}

.gg-trash {
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 210px;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px
}

.noti {
  position: absolute;
  top: 10px;
  right: 55px;
  width: 20px;
  height: 20px;
  color: white;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
}

.modal-loader {
  height: 0vh;
  width: 40vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

input,
textarea {
  margin: 10px;
  padding: 4px;
}

p {
  text-align: justify;
}

textarea {
  width: 500px;
  padding-left: 8px;
}

#nav {
  padding: 8px 0px;
  width: 98vw;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: transparent;
  align-items: center;
  border: 3px solid #7a7fc7;
  background-color: rgb(3, 3, 21);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

#nav-filters {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

#nav a.active,
.faq-container a.active {
  background-color: var(--chakra-colors-gray-400);
}

#nav a,
#nav button,
.faq-container a {
  margin: 3px 0px;
  padding: 6px 15px;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  color: rgb(213, 200, 255);
  text-transform: uppercase;
}

#nav a:hover,
#nav button:hover {
  color: rgb(255, 122, 49);
  text-shadow:
    0 0 5px rgba(255, 122, 49, 0.35),
    0 0 6px rgba(255, 122, 49, 0.35),
    0 0 7px rgba(255, 122, 49, 0.35),
    0 0 8px rgba(255, 122, 49, 0.35);
}

.tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  gap: 5px;
  max-height: 50vh;
  margin-top: 10px;
  padding-top: 2px;
}

.help-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 300px;
  padding: 2px 8px;
  background-color: rgb(16, 14, 82);
  font-size: 1.25rem;
  z-index: 99;
  color: white;
}

.help-chat input {
  width: 197px;
}

.help-chat--chat {
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.ticket {
  cursor: pointer;
  position: relative;
  width: 110px;
  color: white;
  margin: 5px;
  padding: 5px 0px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.55rem;
}

.plus {
  position: absolute;
  top: -7px;
  right: 2px;
}

.preview-image {
  max-width: 200px;
  max-height: 200px;
}

.profile {
  font-size: 1.5rem;
}

.footer {
  font-size: 1.5rem;
  width: 100%;
  padding: 0px 20px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  text-shadow:
    0 0 10px rgba(0, 0, 0, 1),
    0 0 20px rgba(0, 0, 0, 1),
    0 0 30px rgba(0, 0, 0, 1),
    0 0 40px rgba(0, 0, 0, 1),
    0 0 50px rgba(0, 0, 0, 1),
    0 0 60px rgba(0, 0, 0, 1),
    0 0 70px rgba(0, 0, 0, 1),
    0 0 80px rgba(0, 0, 0, 1);
  z-index: 999;
}

.skins {
  position: absolute;
  bottom: 0;
  z-index: 0;
  object-fit: cover;
  max-width: 80vw;
  left: 10vw;
  visibility: hidden;
}

.help {
  position: absolute;
  bottom: 95px;
  right: 20px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  :is(h1) {
    font-size: 1.5rem;
  }
}

.help p {
  background-color: #718096;
  color: white;
  padding: 10px;
}

.container {
  width: 100%;
  text-align: center;
  margin-top: 0px;
}

.chat-ticket {
  height: 57.8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.chat-ticket input[type=text] {
  width: 100%;
  margin-left: 20px;
}

.chat-ticket form {
  display: flex;
  padding: 0;
  align-items: center;
}

form>input {
  padding-left: 10px;
}

.chat-ticket h1 {
  font-size: 20px;
  margin: 5px auto;
}

.chat-window {
  margin-top: 20px;
  height: 60vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-size: 1.5rem;
  /* background-color: rgba(3, 3, 21, 0.9); */
}

.chat-window>h5 {
  padding: 20px 5px;
}

option {
  font-weight: 700;
}

.faq {
  max-width: 1400px;
  max-height: 70vh;
  margin: 0 auto;
  overflow-y: auto;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.25rem;
  /* background-color: rgba(3, 3, 21, 0.9); */
}

.links {
  max-width: 600px;
  padding: 10px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5rem;
}

.links>a {
  font-weight: 600;
}

.links>a:hover {
  color: rgb(255, 122, 49);
  text-shadow:
    0 0 5px rgba(255, 122, 49, 0.35),
    0 0 6px rgba(255, 122, 49, 0.35),
    0 0 7px rgba(255, 122, 49, 0.35),
    0 0 8px rgba(255, 122, 49, 0.35);
}

.faq-link {
  position: absolute;
  top: 0;
  left: 0;
}

.faq>h1,
.links>h1 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.faq>p {
  padding: 1px;
}

.chat-box {
  text-align: center;
  width: 91vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px 20px;
  max-height: 53vh;
  overflow-y: scroll;
  font-size: 1.5rem;
  margin: 10px auto;
}

.conversations {
  display: flex;
  flex-wrap: wrap;
  background-color: #2D3748;
}

.conversation-popout {
  position: relative;
  cursor: pointer;
}

.chat-popout {
  order: 2;
  position: absolute;
  border-radius: 4px;
  top: -50vh;
  right: 15vw;
  background-color: rgb(160, 160, 160);
  z-index: 99;
}

.chat-min {
  margin: 6px;
  order: 1;
  border-radius: 4px;
  padding: 3px 10px;
  color: white;
  font-size: 1.5rem;
}

.chat-options {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.chat-options h2 {
  display: flex;
  gap: 30px;
}

.chat-panel {
  display: flex;
  gap: 20px;
}

.chat-panel p {
  margin-left: 4px;
  font-size: 1.75rem;
  font-weight: 600;
  color: rgb(200, 200, 255)
}

.chat-popout:focus {
  border: 4px solid black;
  background-color: red;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: #1A202C;
  }
}

.home {
  position: relative;
  z-index: 1;
}

.home h1 {
  font-size: 3.5rem;
}

.home p {
  text-align: center;
  font-size: 2rem;
  line-height: 35px;
}

.strong-pink {
  color: rgb(236, 72, 119);
  text-shadow:
    0 0 5px rgba(236, 72, 119, 0.35),
    0 0 6px rgba(236, 72, 119, 0.35),
    0 0 7px rgba(236, 72, 119, 0.35),
    0 0 8px rgba(236, 72, 119, 0.35);
}

.strong-orange {
  color: rgb(240, 141, 56);
  text-shadow:
    0 0 5px rgba(240, 141, 56, 0.35),
    0 0 6px rgba(240, 141, 56, 0.35),
    0 0 7px rgba(240, 141, 56, 0.35),
    0 0 8px rgba(240, 141, 56, 0.35);
}

.home-text {
  position: absolute;
  top: 10px;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.home-text.active {
  opacity: 1;
}

.faq-container {
  position: absolute;
  bottom: 85px;
  left: 20px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rrss {
  cursor: pointer;
  width: 32px;
  position: absolute;
  bottom: 115px;
  left: 20px;
  z-index: 99;
}

.lista-facturas {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.factura {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 430px;
}

.home-font {
  font-size: 2rem;
}

.imagen-chat {
  margin: 10px 0px;
  max-width: 50%;
}

.support {
  width: 90px;
  height: 90px;
}

.inventory-pages-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.inventory-pages-selector p {
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
}

.inventory-other-info {
  width: 30%;
}

.inventory-search {
  border-radius: 10px;
  width: 90%;
}

.inventory-pages-selector p:hover {
  margin: 0;
  background-color: rgba(1, 1, 1, 0.3);
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
}

.inventory-pages-container {
  width: 80%;
  margin: 10px auto 0 auto;
  display: flex;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 10px 10px 0 0;
}

.inventory-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
}

.items-container {
  width: 70%;
  max-height: 650px;
  overflow-y: auto;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding: 10px;
  gap: 10px;
  color: rgb(200, 200, 200);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.item-details-container {
  width: 30%;
  background-color: RGB(200, 200, 200, 0.2);
}

.inventory-item-container {
  width: 150px;
  background-color: black;
  border-radius: 10px;
  max-height: 210px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

.inventory-item-description {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  padding: 5px;
}

.inventory-item-image {
  width: 90%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.inventory-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 255, 0.2);
}

.inventory-item-image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  text-transform: uppercase;
  background-color: red;
  padding: 1px 3px 0px 3px;
  font-size: 16px;
}


.item-details-container {
  border-radius: 0 0 10px 0;
}

.inventory-detailed-image {
  border-radius: 0 0 10px 0;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-image {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.inventory-detailed-description {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.inventory-detailed-description h3 {
  font-size: 2rem;
}

.inventory-detailed-description p {
  font-size: 1.2rem;
}

.item-inspect-button {
  background-color: #024585;
  border-radius: 10px;
  color: white;
  margin: 5px 10px 5px 10px;
  padding: 2px 10px 1px 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
  width: auto;
}

.inventory-detailed-info-splitter {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inventory-detailed-info-splitter-1 {
  width: 50%;
}

@media screen and (max-width: 500px) {
  .home h1 {
    font-size: 2.5rem;
  }

  .home p {
    text-align: center;
    font-size: 1.25rem;
    line-height: 35px;
  }

  .chat-window {
    height: 55vh;
  }

  .footer {
    font-size: 1rem;
  }

  .home-font {
    font-size: 1.5rem;
  }

  .nav-title {
    visibility: hidden;
  }

  .nav-items {
    margin-bottom: 10px;
  }

  #nav a,
  #nav button,
  .faq-container a {
    margin: 2px 0px;
    padding: 3px 15px;
    font-size: 1.25rem;
  }

  .lista-facturas,
  .factura {
    font-size: 1rem;
  }

  .factura {
    width: 100%;
  }

  .descarga-icon {
    height: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .home h1 {
    font-size: 3rem;
  }

  .home p {
    text-align: center;
    font-size: 1.625rem;
    line-height: 35px;
  }

  .help {
    bottom: 55px;

    :is(h1) {
      font-size: 1rem;
    }
  }

  .rrss {
    bottom: 65px;
  }

  .faq {
    max-height: 55vh;
  }

  .support {
    width: 60px;
    height: 60px;
  }

  .inventory-container {
    width: 100%;
  }

  .inventory-pages-container {
    width: 100%;
  }

  .items-container {
    width: 50%;
  }

  .item-details-container {
    width: 50%;
  }

  .inventory-detailed-info-splitter {
    display: block;
  }

  .inventory-detailed-info-splitter-1 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .skins {
    visibility: visible;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .skins {
    visibility: visible;
  }

  .faq {
    max-height: 65vh;
  }
}

@media screen and (min-width: 1400px) {
  .home-text {
    left: 10vw;
  }

  #nav {
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
  }
}